
    .card-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
    }
    .card-container1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
      }
    
    .card {
      width: 60%;
      background-color: #1e223d;
      border-radius: 5%;
      padding: 25px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      height: 75px;
      align-content: space-evenly;
      display: block;
      margin-left: auto;
      margin-right: auto; 
    }
    .card1 {
      width: 80%;
      background-color: #222b48;
      border-radius: 5%;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      height: 150px;
      align-items: center;
      align-content: space-evenly;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .one{
        list-style: none;
    }
    .one::before {
        content: "\2022";
        color: red;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }

    .two{
        list-style: none;
    }
    .two::before {
        content: "\2022";
        color: green;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }

    .three{
        list-style: none;
    }
    .three::before {
        content: "\2022";
        color: blue;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }

    .circle-wrap1 {
        margin: 20px auto;
        width: 110px;
        height: 110px;
        background: #fefcff;
        border-radius: 50%;
        border: 1px solid #cdcbd0;
        position: relative;
        float: right;
      }
      
      .circle1 {
        width: 110px;
        height: 110px;
        position: absolute;
        border-radius: 50%;
      }
      
      .mask.full1 {
        width: 110px;
        height: 110px;
        position: absolute;
        border-radius: 50%;
        clip: rect(0px, 55px, 110px, 0px);
        background-color: #227ded;
        transform: rotate(135deg);
      }
      
      .inside-circle1 {
        width: 92px;
        height: 92px;
        border-radius: 50%;
        background: white;
        line-height: 90px;
        text-align: center;
        margin-top: 9px;
        margin-left: 9px;
        color: black;
        position: absolute;
        z-index: 100;
        font-weight: 700;
        font-size: 1.2em;
      }
      
      .division {
        width: 110px;
        height: 110px;
        position: absolute;
        border-radius: 50%;
        clip: rect(0px, 55px, 110px, 0px);
      }
      
      .division1-1 {
        background-color: #00FFAB;
        transform: rotate(45deg);
      }
      
      .division1-2 {
        background-color: #30AADD;
        transform: rotate(135deg);
      }
      
      .division1-3 {
        background-color: #247881;
        transform: rotate(225deg);
      }
      

    
    


    
    
    .progress-bar2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 15%, #DAFFFB 85%);    
    }

    .progress-bar2::before{
        content: "15%";
    }  

    .progress-bar3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 20%, #DAFFFB 80%);    
    }

    .progress-bar3::before{
        content: "20%";
    }  

    .progress-bar4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 25%, #DAFFFB 75%);    
    }

    .progress-bar4::before{
        content: "25%";
    }  

    .progress-bar5 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 30%, #DAFFFB 70%);    
    }

    .progress-bar5::before{
        content: "30%";
    } 
    
    .progress-bar6 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 35%, #DAFFFB 65%);    
    }

    .progress-bar6::before{
        content: "35%";
    }  

    .progress-bar7 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 40%, #DAFFFB 60%);    
    }

    .progress-bar7::before{
        content: "40%";
    } 
    
    .progress-bar8 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 45%, #DAFFFB 55%);    
    }

    .progress-bar8::before{
        content: "45%";
    }  

    .progress-bar9 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 50%, #DAFFFB 50%);    
    }

    .progress-bar9::before{
        content: "50%";
    }
    
    .progress-bar10 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 55%, #DAFFFB 55%);    
    }

    .progress-bar10::before{
        content: "55%";
    }
    
    .progress-bar11 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 60%, #DAFFFB 40%);    
    }

    .progress-bar11::before{
        content: "60%";
    }  

    .progress-bar12 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 65%, #DAFFFB 35%);    
    }

    .progress-bar12::before{
        content: "65%";
    }
    
    .progress-bar13 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 70%, #DAFFFB 30%);    
    }

    .progress-bar13::before{
        content: "70%";
    }  

    .progress-bar14 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 75%, #DAFFFB 25%);    
    }

    .progress-bar14::before{
        content: "75%";
    }  

    .progress-bar15 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 80%, #DAFFFB 20%);    
    }

    .progress-bar15::before{
        content: "80%";
    }  

    .progress-bar16 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        float: right;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#001C30 85%, #DAFFFB 15%);    
    }

    .progress-bar16::before{
        content: "85%";
    }  

    .H{
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        font-weight: bold;
        color:whitesmoke;
        text-align: center;
    }

    .H1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: justify;
        color: whitesmoke;
    }

    .H2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: justify;
        color: whitesmoke;
    }

    .P1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        text-align: justify;
        line-height: 0.7;
        color: whitesmoke;
        
    }
    
  